{
  "root": true,
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:jsonc/recommended-with-json",
    "plugin:jsonc/prettier",
    "prettier"
  ],
  "rules": {
    "jsonc/sort-keys": [
      "error",
      "asc",
      {
        "caseSensitive": true,
        "natural": false,
        "minKeys": 2,
        "allowLineSeparatedGroups": false
      }
    ]
  },
  "overrides": [
    {
      "files": ["package.json"],
      "rules": {
        "jsonc/sort-keys": "off"
      }
    }
  ]
}
